body{
    background-color: #6741d994;
}

.row{
    min-height: 40vh;
}

.items{
  box-shadow:  0 0 5px #000;
  background-color: #fff;
}

.items >*{
    margin: 5px 0;
    text-transform: capitalize;
}

#psw{
    text-transform: lowercase;
}